# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv(r'C:\Users\radek\IronHack\IronRadek\Week5\Day2\Lab_9_Two_Sample_Hypothesis_Test\Pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [10]:
# Your code here:
leg_pok = pokemon[pokemon.Legendary==True]
nonleg_pok = pokemon[pokemon.Legendary==False]

leg_mean = leg_pok['Total'].mean()
leg_std = leg_pok['Total'].std()

nonleg_mean = nonleg_pok['Total'].mean()
nonleg_std = nonleg_pok['Total'].std()

print('Legendary pokemons:')
print('mean',  leg_mean)
print('std', leg_std)

print('Nonlegendary pokemons:')
print('mean ',  nonleg_mean)
print('std ',  nonleg_std)

Legendary pokemons:
mean 637.3846153846154
std 60.93738905315346
Nonlegendary pokemons:
mean  417.21360544217686
std  106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [11]:
# Your code here:
#Here I assume that the dataset we were given is a sample of the population of Pokemons, because of taht I will do statistical analysis for all of the pokemons presanted in the dataframe.

from scipy.stats import ttest_ind

ttest_ind(leg_pok.Total, nonleg_pok.Total, equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
'''
The p-value of the test is very low. In this case we need to reject the null hypothesis which stated that the both means of total points are equal. In other words, there are significant diffrences between Total points of Legendary and Nonlegandary pokemons.
'''

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [12]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [16]:
# Your code here:
water_pok = pokemon[pokemon['Type 1']=='Water']
other_pok = pokemon[pokemon['Type 1']!='Water']
print(len(water_pok))
print(len(other_pok))

112
688

In [17]:
#Mean and st dev: 
#I assume that we are talking about mean and standard deviation of Total points
water_mean = water_pok['Total'].mean()
water_std = water_pok['Total'].std()

other_mean = other_pok['Total'].mean()
other_std = other_pok['Total'].std()

print('Water pokemons:')
print('mean',  water_mean)
print('std', water_std)

print('Other pokemons:')
print('mean ',  other_mean)
print('std ',  other_std)

Water pokemons:
mean 430.45535714285717
std 113.18826606431458
Other pokemons:
mean  435.85901162790697
std  121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [18]:
# Your code here:

ttest_ind(water_pok.Total, other_pok.Total, equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:
'''
In this case the p-value is high 0.659. Thus we can accept the null hypothesis which in this case porived that the mean values of Total points for water and other type of pokemnons are on the same level. 
'''

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [19]:
# Your code here:
from scipy.stats import ttest_rel

ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [20]:
# Your conclusions here:
'''The p-value of that test is low. Much lower than 0.05 which mean that we can rejectthe null hypothesis and confirm taht there are diffrences between means of Attack and Defense.
'''

'The p-value of that test is low. Much lower than 0.05 which mean that we can rejectthe null hypothesis and confirm taht there are diffrences between means of Attack and Defense.\n'

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [22]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [24]:
# Your code here:

ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
''' 
The p-value for taht tests is aroubd 0.4 which is greater than 0.05. Thus we can accept the null hypothesis which stated that the two means do not have significant diffrences.
'''

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [25]:
# Your code here:
from scipy.stats import ttest_1samp

ttest_1samp(pokemon['Attack'] - pokemon['Defense'], 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
'''
For this test the results are similar as in the test above. There are significant diffrences bwteween means of Attack and Defense as the p-palue of that test is much smaller than 0.05.
'''

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [26]:
# Your code here:
#First I create an additional column in which I will put 1 if the pokemon is type 1 water 
pokemon['water']=np.where(pokemon['Type 1']== 'Water', 1, 0)

In [28]:
#I checked if the code above worked
pokemon.head(15)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,water
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,0
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,0
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,0
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,0
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,0
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,1
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,1
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,1
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,1
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,0
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,0

In [30]:
#Now I can create the contingency table 
cont_tab = pd.crosstab(pokemon.Legendary, pokemon.water)
cont_tab

water        0    1
Legendary
False      627  108
True        61    4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html).

In [31]:
# Your code here:

from scipy.stats import chi2_contingency
from scipy.stats import chi2


#I found this code, which performs the chi2 test and print the result at the webpage:
# https://machinelearningmastery.com/chi-squared-test-for-machine-learning/



# contingency table

print(cont_tab)

stat, p, dof, expected = chi2_contingency(cont_tab)
print('dof=%d' % dof)
print(expected)


# interpret test-statistic
prob = 0.95
critical = chi2.ppf(prob, dof)
print('probability=%.3f, critical=%.3f, stat=%.3f' % (prob, critical, stat))
if abs(stat) >= critical:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')

# interpret p-value
alpha = 1.0 - prob
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')

water        0    1
Legendary
False      627  108
True        61    4
dof=1
[[632.1 102.9]
 [ 55.9   9.1]]
probability=0.950, critical=3.841, stat=2.943
Independent (fail to reject H0)
significance=0.050, p=0.086
Independent (fail to reject H0)

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:
'''
Based on this results I can see that we cannot reject null hypothesis which claimed that there are no significant diffrences between the frequencies of these categorical variables.
'''