In [1]:
# Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import random

### 1. Import the moovies dataset

# https://www.kaggle.com/carolzhangdc/imdb-5000-movie-dataset

In [4]:
movie = pd.read_csv(r'C:\Users\radek\IronHack\IronRadek\Week4\Day3\Lab05\movie_metadata.csv')

In [5]:
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

### 2. Use crosstabs to show the number of moovies per country

In [12]:
#As a second parameter I chose color and I used margins to have a Total number in the final column
count_movie =pd.crosstab(movie.country, movie.color, margins=True, margins_name="Total")
count_movie

color                  Black and White  Color  Total
country
Afghanistan                          0      1      1
Argentina                            0      4      4
Aruba                                0      1      1
Australia                            1     54     55
Bahamas                              0      1      1
...                                ...    ...    ...
UK                                  20    427    447
USA                                149   3644   3793
United Arab Emirates                 0      1      1
West Germany                         0      3      3
Total                              209   4812   5021

[66 rows x 3 columns]

In [13]:
#In order to just have movies by country I can read it like that
count_movie['Total']

country
Afghanistan                1
Argentina                  4
Aruba                      1
Australia                 55
Bahamas                    1
                        ...
UK                       447
USA                     3793
United Arab Emirates       1
West Germany               3
Total                   5021
Name: Total, Length: 66, dtype: int64

### 3. Create a crosstab to show the number of films per director and genre splitted by country

In [15]:
pd.crosstab(movie.country, [movie.director_name, movie.genres],  margins=True, margins_name="Total")

director_name                                 A. Raven Cruz  \
genres               Action|Adventure|Comedy|Fantasy|Sci-Fi
country
Afghanistan                                               0
Argentina                                                 0
Aruba                                                     0
Australia                                                 0
Bahamas                                                   0
...                                                     ...
UK                                                        0
USA                                                       1
United Arab Emirates                                      0
West Germany                                              0
Total                                                     1

director_name                                  Aaron Hann Aaron Schneider  \
genres               Drama|Horror|Mystery|Sci-Fi|Thriller   Drama|Mystery
country
Afghanistan                                             0               0
Argentina                                               0               0
Aruba                                                   0               0
Australia                                               0               0
Bahamas                                                 0               0
...                                                   ...             ...
UK                                                      0               0
USA                                                     1               1
United Arab Emirates                                    0               0
West Germany                                            0               0
Total                                                   1               1

director_name         Aaron Seltzer Abel Ferrara          Adam Brooks  \
genres               Comedy|Romance  Crime|Drama Comedy|Drama|Romance
country
Afghanistan                       0            0                    0
Argentina                         0            0                    0
Aruba                             0            0                    0
Australia                         0            0                    0
Bahamas                           0            0                    0
...                             ...          ...                  ...
UK                                0            0                    0
USA                               1            1                    0
United Arab Emirates              0            0                    0
West Germany                      0            0                    0
Total                             1            1                    1

director_name        Adam Carolla Adam Goldberg    Adam Green  \
genres                     Comedy Drama|Mystery Comedy|Horror
country
Afghanistan                     0             0             0
Argentina                       0             0             0
Aruba                           0             0             0
Australia                       0             0             0
Bahamas                         0             0             0
...                           ...           ...           ...
UK                              0             0             0
USA                             1             1             1
United Arab Emirates            0             0             0
West Germany                    0             0             0
Total                           1             1             1

director_name        Adam Jay Epstein  ... Zackary Adler  \
genres                         Comedy  ...   Crime|Drama
country                                ...
Afghanistan                         0  ...             0
Argentina                           0  ...             0
Aruba                               0  ...             0
Australia                           0  ...             0
Bahamas                             0  ...             0
...                               ...  ...           ...
UK                                  0  ...             1
USA                                 1  ...             0
United Arab Emirates                0  ...             0
West Germany                        0  ...             0
Total                               1  ...             1

director_name                       Zak Penn                Zal Batmanglij  \
genres               Adventure|Comedy|Horror Drama|Mystery|Sci-Fi|Thriller
country
Afghanistan                                0                             0
Argentina                                  0                             0
Aruba                                      0                             0
Australia                                  0                             0
Bahamas                                    0                             0
...                                      ...                           ...
UK                                         1                             0
USA                                        0                             1
United Arab Emirates                       0                             0
West Germany                               0                             0
Total                                      1                             1

director_name                              Zoran Lisinac  \
genres               Drama|Thriller Comedy|Music|Romance
country
Afghanistan                       0                    0
Argentina                         0                    0
Aruba                             0                    0
Australia                         0                    0
Bahamas                           0                    0
...                             ...                  ...
UK                                1                    0
USA                               0                    1
United Arab Emirates              0                    0
West Germany                      0                    0
Total                             1                    1

director_name            Álex de la Iglesia Émile Gaudreault  \
genres               Crime|Mystery|Thriller     Comedy|Drama
country
Afghanistan                               0                0
Argentina                                 0                0
Aruba                                     0                0
Australia                                 0                0
Bahamas                                   0                0
...                                     ...              ...
UK                                        0                0
USA                                       0                0
United Arab Emirates                      0                0
West Germany                              0                0
Total                                     1                1

director_name                        Éric Tessier         Étienne Faure Total
genres               Action|Drama|Horror|Thriller Drama|Musical|Romance
country
Afghanistan                                     0                     0     1
Argentina                                       0                     0     4
Aruba                                           0                     0     1
Australia                                       0                     0    53
Bahamas                                         0                     0     1
...                                           ...                   ...   ...
UK                                              0                     0   434
USA                                             0                     0  3733
United Arab Emirates                            0                     0     1
West Germany                                    0                     0     3
Total                                           1                     1  4936

[66 rows x 4462 columns]

In [16]:
#The Table above is not very clear that is why I will crosstab it abain but only with directors
pd.crosstab(movie.country, movie.director_name,  margins=True, margins_name="Total")

director_name,A. Raven Cruz,Aaron Hann,Aaron Schneider,Aaron Seltzer,Abel Ferrara,Adam Brooks,Adam Carolla,Adam Goldberg,Adam Green,Adam Jay Epstein,...,Zack Ward,Zackary Adler,Zak Penn,Zal Batmanglij,Zoran Lisinac,Álex de la Iglesia,Émile Gaudreault,Éric Tessier,Étienne Faure,Total
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Argentina,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
Aruba,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Australia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,53
Bahamas,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UK,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,0,0,434
USA,1,1,1,1,1,0,1,1,1,1,...,1,0,0,1,1,0,0,0,0,3733
United Arab Emirates,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
West Germany,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
Total,1,1,1,1,1,1,1,1,1,1,...,1,1,1,2,1,1,1,1,1,4936

In [23]:
#Another proposition 
pd.crosstab([movie['director_name'], movie['genres']], movie['country'])

,country,Afghanistan,Argentina,Aruba,Australia,Bahamas,Belgium,Brazil,Bulgaria,Cambodia,Cameroon,...,Spain,Sweden,Switzerland,Taiwan,Thailand,Turkey,UK,USA,United Arab Emirates,West Germany
director_name,genres,,,,,,,,,,,,,,,,,,,,,
A. Raven Cruz,Action|Adventure|Comedy|Fantasy|Sci-Fi,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Aaron Hann,Drama|Horror|Mystery|Sci-Fi|Thriller,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Aaron Schneider,Drama|Mystery,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Aaron Seltzer,Comedy|Romance,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Abel Ferrara,Crime|Drama,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zoran Lisinac,Comedy|Music|Romance,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Álex de la Iglesia,Crime|Mystery|Thriller,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
Émile Gaudreault,Comedy|Drama,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Éric Tessier,Action|Drama|Horror|Thriller,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Étienne Faure,Drama|Musical|Romance,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 4. Average duration of filmes grouped by color

In [21]:
#In order to coross the color with something I used genres
pd.crosstab(movie.genres, movie.color, values=movie.duration, aggfunc='mean')

color,Black and White,Color
genres,,
Action,111.0,107.444444
Action|Adventure,NaN,112.636364
Action|Adventure|Animation|Comedy|Crime|Family|Fantasy,NaN,95.000000
Action|Adventure|Animation|Comedy|Drama|Family|Sci-Fi,NaN,96.000000
Action|Adventure|Animation|Comedy|Family,NaN,91.500000
...,...,...
Sci-Fi|Thriller,NaN,104.700000
Thriller,NaN,103.350000
Thriller|War,133.0,NaN
Thriller|Western,85.0,NaN
Western,NaN,106.000000

### 5. Average number of likes per director (assuming that total film's likes are counted as a sum of actor's likes)

In [24]:
movie.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [29]:
#Firstly I create a column with the film likes

movie['film_likes']= movie['actor_1_facebook_likes'] + movie['actor_2_facebook_likes'] + movie['actor_3_facebook_likes']

In [30]:
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,film_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,2791.0
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,46000.0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,11554.0
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,73000.0
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,NaN

In [37]:
#This is a very big dataframe so I will save it as a variable and show only the last column  in the cell below
likes=pd.crosstab(movie.director_name, movie.film_likes, values=movie['film_likes'], aggfunc='sum', margins=True,  margins_name="Total" )

In [38]:
likes['Total']

director_name
A. Raven Cruz             1094.0
Aaron Hann                 406.0
Aaron Schneider          16970.0
Aaron Seltzer             4598.0
Abel Ferrara              2198.0
                         ...
Álex de la Iglesia         702.0
Émile Gaudreault           917.0
Éric Tessier                72.0
Étienne Faure               19.0
Total                 44334843.0
Name: Total, Length: 2386, dtype: float64