# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:
data = pd.read_csv(r'C:\Users\radek\IronHack\IronRadek\Week5\Day1\Lab_7_Hypothesis-Testing\Employees_advanced.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
data.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
data.groupby(['Salary or Hourly'])['Name'].agg('count')

Salary or Hourly
Hourly     8022
Salary    25161
Name: Name, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
#The departments in the dataset and the number of employees in each department
data['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

In [7]:
#List of departmen
dep = list(set(data['Department']))
dep

['COPA',
 'PROCUREMENT',
 'ADMIN HEARNG',
 'CITY CLERK',
 'HUMAN RELATIONS',
 'INSPECTOR GEN',
 'FIRE',
 'PUBLIC LIBRARY',
 'HEALTH',
 'CITY COUNCIL',
 'AVIATION',
 "MAYOR'S OFFICE",
 'LAW',
 'HUMAN RESOURCES',
 'TRANSPORTN',
 'POLICE',
 'FINANCE',
 'STREETS & SAN',
 'GENERAL SERVICES',
 'FAMILY & SUPPORT',
 'OEMC',
 'DoIT',
 'WATER MGMNT',
 'BOARD OF ETHICS',
 'BUILDINGS',
 'BUSINESS AFFAIRS',
 'TREASURER',
 'LICENSE APPL COMM',
 'ANIMAL CONTRL',
 'BOARD OF ELECTION',
 'POLICE BOARD',
 'BUDGET & MGMT',
 'CULTURAL AFFAIRS',
 'DISABILITIES',
 'COMMUNITY DEVELOPMENT']

In [8]:
#There are 35 departments
len(dep)

35

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [35]:
# Your code here:

from scipy.stats import ttest_1samp


sample = data[data['Salary or Hourly']=='Hourly']

In [36]:
len(sample)

8022

In [37]:
ttest_1samp(sample['Hourly Rate'], 30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [12]:
'''
p-value << 0.05
which indicates that null hypotheiss has to be rejected thus the mean hourly wage of selected sample is not at the level of 30 USD/hour
'''

'\np-value > 0.05\nwhich indicates that null hypotheiss caanot be rejected thus the mean hourly wage of selected sample is at the level of 30 USD/hour\n'

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [40]:
# Your code here:

sample2 = data[data.Department == 'POLICE']
len(sample2)

13414

In [42]:
#I ran the t-test to see if tehir annual salary is equal  to the one declared by the chief of the police
ttest_1samp(sample2['Annual Salary'], 86000, nan_policy='omit')

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.00206034035510054)

In [43]:
#I want to get p-value devided by 2 in oredr to compare
ttest_1samp(sample2['Annual Salary'], 86000, nan_policy='omit')[1]/2

0.00103017017755027

In [44]:
'''
p-value/2 < 0.05 which  means that there is a significant diffrence between this year and last year salary. This might suggest that the chief of the police told the truth.
'''

'\np-value/2 < 0.05 which  means that there is a significant diffrence between this year and last year salary. This might suggest that the chief of the police told the truth.\n'

Using the `crosstab` function, find the department that has the most hourly workers.

In [17]:
# Your code here:
pd.crosstab(data.Department, data['Salary or Hourly']).sort_values('Hourly', ascending=False)

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

In [18]:
'''
The department with the most hourly workers is Streets& San 
'''

'\nThe department with the most hourly workers is Streets& San \n'

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [45]:
# Your code here:

sample3=data[(data.Department == 'STREETS & SAN') & (data['Salary or Hourly']=='Hourly')]
len(sample3)

1862

In [46]:
#I am testing thier the hypothesis that thier hourly wage is equal to 35 
ttest_1samp(sample3['Hourly Rate'], 35)

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

In [47]:
#Since it was one-sided hypotheis I need to devide p-value by 2
ttest_1samp(sample3['Hourly Rate'], 35)[1]/2

1.6689265282353859e-21

In [22]:
'''
p-value/2 is smaller than 0.05 which indicates that the null hypothesis is not true. Thus the hourly wage of workers from the department of streets and san is lower than 35 USD/Hour 
'''

'\np-value/2 is greater than 0.05 which indicates that the null hypothesis is true. Thus the hourly wage of workers from the department of streets and san is not lower than 35 USD/Hour \n'

In [49]:
sample3_mean =data[(data.Department == 'STREETS & SAN') & (data['Salary or Hourly']=='Hourly')]['Hourly Rate'].mean()

In [50]:
sample3_mean

33.728378088076845

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [25]:
# Your code here:
sample5 = data[data['Salary or Hourly']=='Hourly']
len(sample5)

from scipy import stats
mean=np.mean(sample5['Hourly Rate'])
sem =stats.sem(sample5['Hourly Rate'])

stats.t.interval(alpha=0.95, df=len(sample5)-1, loc=mean, scale=sem)

(32.52345834488529, 33.05365708767727)

In [26]:
'''
The confidence interval for Hourly rate is from 32.52 to 33.05
'''

'\nThe confidence interval for Hourly rate is from 32.52 to 33.05\n'

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [27]:
data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [28]:
# Your code here:
sample6=data[(data['Department']=='POLICE') &(data['Salary or Hourly']=='Salary')]
len(sample6)

13404

In [29]:
# I assume that this is constructed for the Annual Salary
mean=np.mean(sample6['Annual Salary'])
sem =stats.sem(sample6['Annual Salary'])

stats.t.interval(alpha=0.95, df=len(sample6)-1, loc=mean, scale=sem)

(86177.05631531784, 86795.77269094894)

In [30]:
'''
The 95% confidence interval for all of the salried employes of the Police department is between 86177 and 86795 USD.
'''

'\nThe 95% confidence interval for all of the salried employes of the Police department is between 86177 and 86795 USD.\n'

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [31]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

data.shape

(33183, 8)

In [32]:
#I assume that there is 33183 workers in Chicago in our data set 
data.shape

(33183, 8)

In [33]:
# and there is 8022 hourly workers 
data[data['Salary or Hourly']=='Hourly'].shape

(8022, 8)

In [34]:
#Now I can try to do the test 
sample_success = 8022
sample_size = 33183
null_hypothesis = 0.25
significance = 0.05

stat, p_value = proportions_ztest(count=sample_success, nobs=sample_size, value=null_hypothesis, alternative='two-sided')

if p_value > significance:
   print ("Fail to reject the null hypothesis - we have nothing else to say")
else:
   print ("Reject the null hypothesis - suggest the alternative hypothesis is true")

print(stat, p_value)

Reject the null hypothesis - suggest the alternative hypothesis is true
-3.5099964213703005 0.0004481127249057967