## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
sample_list_1 = random.sample(range(101),80)
print(sample_list_1)

[7, 27, 75, 3, 18, 99, 79, 39, 76, 45, 84, 14, 78, 71, 72, 73, 15, 96, 31, 6, 46, 70, 10, 34, 93, 11, 74, 26, 52, 22, 23, 8, 49, 88, 61, 68, 21, 36, 86, 64, 5, 37, 43, 19, 42, 85, 90, 47, 9, 24, 1, 0, 95, 33, 48, 80, 28, 87, 100, 81, 62, 92, 63, 20, 58, 35, 56, 51, 53, 16, 91, 69, 60, 83, 25, 44, 97, 89, 57, 82]

In [4]:
len(sample_list_1)

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

In [6]:
#The lenght is still 80 because with random.sample 80 unique numbers were selected

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [7]:
# Your code here
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[7, 58, 19, 48, 99, 16, 86, 12, 93, 48, 17, 53, 94, 15, 57, 65, 36, 5, 0, 92, 86, 81, 8, 67, 89, 86, 66, 3, 53, 15, 82, 83, 77, 59, 45, 35, 39, 97, 10, 77, 58, 91, 35, 24, 99, 56, 97, 80, 41, 45, 94, 21, 77, 16, 81, 69, 32, 15, 81, 71, 84, 30, 90, 100, 30, 46, 25, 81, 3, 38, 45, 5, 28, 66, 58, 38, 80, 73, 67, 33]

In [8]:
len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [9]:
# Your code here
set2=set(sample_list_2)
print(len(set2))

53

In [10]:
#The lenght of set2 is less then 80 because list sample_list_2 contained elements that were not unique

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [11]:
# Your code here
set3 = set1 - set2
print(set3)
print(len(set3))

{1, 6, 9, 11, 14, 18, 20, 22, 23, 26, 27, 31, 34, 37, 42, 43, 44, 47, 49, 51, 52, 60, 61, 62, 63, 64, 68, 70, 72, 74, 75, 76, 78, 79, 85, 87, 88, 95, 96}
39

In [12]:
set3_1=set1.difference(set2)
print(set3_1)
print(len(set3_1))

{1, 6, 9, 11, 14, 18, 20, 22, 23, 26, 27, 31, 34, 37, 42, 43, 44, 47, 49, 51, 52, 60, 61, 62, 63, 64, 68, 70, 72, 74, 75, 76, 78, 79, 85, 87, 88, 95, 96}
39

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [13]:
# Your code here
set4=set2.difference(set1)
print(set4)
print(len(set4))

{32, 65, 66, 67, 38, 41, 12, 77, 17, 94, 59, 30}
12

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [14]:
# Your code here
set5=set1.intersection(set2)
print(set5)
print(len(set5))

{0, 3, 5, 7, 8, 10, 15, 16, 19, 21, 24, 25, 28, 33, 35, 36, 39, 45, 46, 48, 53, 56, 57, 58, 69, 71, 73, 80, 81, 82, 83, 84, 86, 89, 90, 91, 92, 93, 97, 99, 100}
41

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [15]:
# Your code here

In [16]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
53
39
12
41

#### Create an empty set called `set6`.

In [17]:
# Your code here
len(set1)==len(set3)+len(set5)

True

In [18]:
len(set2)==len(set4)+len(set5)

True

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [19]:
# Your code here
set6=set([])
set6.update(set3)
set6.update(set5)
print(set6)
print(len(set6))

{0, 1, 3, 5, 6, 7, 8, 9, 10, 11, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 31, 33, 34, 35, 36, 37, 39, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 56, 57, 58, 60, 61, 62, 63, 64, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 99, 100}
80

#### Check if `set1` and `set6` are equal.

In [20]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [21]:
# Your code here
set2.issubset(set1)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [24]:
# Your code here
s_1 = set3.union(set4,set5)
s_2 = set1.union(set2)

In [25]:
s_1 == s_2

True

#### Using the `pop` method, remove the first element from `set1`.

In [26]:
# Your code here
print(set1)
print(set1.pop(0))
#Using pop() method I cannot remove the first element because pop method removes random element and it does not take any arguments

{0, 1, 3, 5, 6, 7, 8, 9, 10, 11, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 31, 33, 34, 35, 36, 37, 39, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 56, 57, 58, 60, 61, 62, 63, 64, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 99, 100}

TypeError: pop() takes no arguments (1 given)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [28]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for item in list_to_remove:
    set1.discard(item)
    
print(set1)

{0, 3, 5, 6, 7, 8, 10, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 28, 33, 34, 35, 36, 37, 42, 43, 44, 45, 46, 47, 48, 52, 53, 56, 57, 58, 60, 62, 63, 64, 68, 70, 72, 73, 74, 75, 76, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 95, 96, 97, 100}